
@{
    ViewData["Title"] = "JoinGroup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Join Group</h1>
<form method="POST">
    <label for="groupPin">Enter Your Groups Six Digit Pin</label>
    <input type="number" id="groupPin" placeholder="Your pin goes here" name="groupPin" />
    <input type="submit" />
</form>



