
@{
    ViewData["Title"] = "GetMovies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>GetMovies</h1>
<div>

    <h2>
        @ViewBag.movie
    </h2>
</div>


<div>
    <a href="https://localhost:44352/MovieWatchers/RankMovies">Rank These Movies</a> |
    
</div>