
@{
    ViewData["Title"] = "RankMovies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>RankMovies</h1>
<span class="text-warning">
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
</span>
