
@{
    ViewData["Title"] = "VoteOnMovies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Pick One of These Two Movies!</h1>

<form method="POST">
    <input type="checkbox" id="movie1" name="movie1" value="Movie">
    <label for="movie1"> Movie 1</label><br>
    <input type="checkbox" id="movie2" name="movie2" value="Movie">
    <label for="movie2"> Movie 2</label><br>
    
    <input type="submit" value="Submit">
</form>